*pyc
*.jpg
*.png
*pth
*ckpt
*.zip
!experiments/dataset/Office-31/category.txt
!experiments/dataset/OfficeHomeDataset/category.txt
!experiments/dataset/VisDA-2017/category.txt

nohup.out
temp/
figures/
__pycache__/
.idea/
data/__pycache__/
useful_things.md
visualization.py
run.sh
train.tar
validation.tar


